## -----------------------------------------------------------------------------
## IMPORTANT
## -----------------------------------------------------------------------------
## - DO NOT blindly insert this into your `configuration.yaml`. Distribute
##   according to your structure or create from UI.
## - DO NOT rename entities on creation. The name affects the entity
##   ID. If renamed, you're on your own. Look for `dtek_next_outage`,
##   `dtek_next_connectivity`, and `dtek_schedule_fingerprint` across
##   the configs you create and either replace with your IDs or consider
##   updating created entities to change their IDs to the expected ones.
## -----------------------------------------------------------------------------
input_text:
  ## Computed and updated by the automation on calendar update.
  ## Used to avoid repeated notifications about the tomorrow's
  ## schedule until the end of the day and to notify about the
  ## schedule changes.
  dtek_schedule_fingerprint:
    name: "DTEK: Schedule fingerprint"
    icon: mdi:fingerprint
    ## A concatenation of a date and the MD5 hash of the events.
    ## The `YYYY-MM-DD||` is the minimal payload.
    min: 12
    max: 255

command_line:
  - sensor:
      ## Creates `sensor.dtek_next_outage`.
      name: "DTEK: Next outage"
      icon: mdi:power-plug-off
      device_class: timestamp
      value_template: >
        {{ value_json.state.nextOutage }}
      json_attributes_path: $.state
      json_attributes:
        - hasTomorrowEvents
        - todayHash
        - tomorrowHash
      ## Created by the addon, don't change!
      command: cat /share/dtek-outage-metadata.json
      ## Same 3 mins as the automation that pulls the updates.
      scan_interval: 180

  - sensor:
      ## Creates `sensor.dtek_next_connectivity`.
      name: "DTEK: Next connectivity"
      icon: mdi:power-plug
      device_class: timestamp
      value_template: >
        {{ value_json.state.nextConnectivity }}
      json_attributes_path: $.state
      json_attributes:
        - hasTomorrowEvents
        - todayHash
        - tomorrowHash
      ## Created by the addon, don't change!
      command: cat /share/dtek-outage-metadata.json
      ## Same 3 mins as the automation that pulls the updates.
      scan_interval: 180

  - sensor:
      ## A special reason with extra info and start-end interval.
      ## E.g. `Згідно графіків`, `Екстернні відключення`, `Ремонтні роботи`.
      name: "DTEK: Outage reason"
      value_template: >
        {{ value_json.shutdown.reason if value_json.shutdown else none }}
      json_attributes_path: $.shutdown
      json_attributes:
        - updatedAt
        - startedAt
        - endsAt
      ## Created by the addon, don't change!
      command: cat /share/dtek-outage-metadata.json
      ## Same 3 mins as the automation that pulls the updates.
      scan_interval: 180
